{%- assign lang_prefix = page.lang | default: 'en' -%}
{%- assign nav_translations = site.data.nav-translations[lang_prefix] | default: site.data.nav-translations.en -%}
<nav class="navbar navbar-default navbar-fixed-top navbar-custom ">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {%- assign site_title_translated = nav_translations.site_title | default: site.title -%}
      {%- if site.title-img -%}
        <a class="navbar-brand navbar-brand-logo" href="{{ site.baseurl }}/{{ lang_prefix }}/"><img src="{{ site.title-img }}"/></a>
      {%- else -%}
        <a class="navbar-brand" href="{{ site.baseurl }}/{{ lang_prefix }}/">{{ site_title_translated }}</a>
      {%- endif -%}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
      {%- for link in site.navbar-links -%}
        {%- assign link_key = link[0] -%}
        {%- assign link_label = nav_translations[link_key] | default: link_key -%}
        {%- if link[1].first %}
          <li class="navlinks-container">
            <a class="navlinks-parent" href="javascript:void(0)">{{ link_label }}</a>
            <div class="navlinks-children">
              {%- for childlink in link[1] -%}
              {%- for linkparts in childlink %}
              <a href="{{ site.baseurl }}/{{ lang_prefix }}/{{ linkparts[1] }}">{{ linkparts[0] }}</a>
              {%- endfor -%}
              {%- endfor %}
            </div>
          </li>
        {% else %}
          {%- assign nav_path = link[1] | strip -%}
          {%- if nav_path == "" -%}
            <li><a href="{{ site.baseurl }}/{{ lang_prefix }}/">{{ link_label }}</a></li>
          {%- else -%}
            <li><a href="{{ site.baseurl }}/{{ lang_prefix }}/{{ nav_path }}/">{{ link_label }}</a></li>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
      <li class="lang-switch" style="margin-left: 12px;">
        {%- if lang_prefix == 'en' -%}
          <a href="{{ site.baseurl }}{{ page.url | replace_first: '/en', '/cn' }}" lang="zh-CN" title="中文">中文</a>
        {%- else -%}
          <a href="{{ site.baseurl }}{{ page.url | replace_first: '/cn', '/en' }}" lang="en" title="English">English</a>
        {%- endif -%}
      </li>
      </ul>
    </div>

	{% if page.image and (layout.show-avatar or page.show-avatar) and page.layout != 'people' %}
	<div class="avatar-container">
	  <div class="avatar-img-border">
	    <a href="{{ '' | absolute_url }}">
	      <img class="avatar-img" src="{{ page.image | relative_url }}" />
		</a>
	  </div>
	</div>
	{% elsif site.avatar and (layout.show-avatar or page.show-avatar) and page.layout != 'people' %}
	<div class="avatar-container">
	  <div class="avatar-img-border">
	    <a href="{{ '' | absolute_url }}">
	      <img class="avatar-img" src="{{ site.avatar | relative_url }}" />
		</a>
	  </div>
	</div>
	{% endif %}

  </div>
</nav>
